@import "~src/styles";

.container {
  margin-bottom: 30px;
}

.message {
  float: right;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: $font-size;
  margin: 0;
  padding: 0;
}
