<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-gist-form [gistFiles]="details" (response)="onSubmit($event)"></app-gist-form>
      <p class="message">{{message}}</p>
    </div>
  </div>
</div>
