<header (mouseleave)="showMenu(false)">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-2 logo">
        <img src="assets/logo.jpg" alt="Gists Github" [routerLink]="['main']">
      </div>

      <div class="col-md-7 newGist">
        <a [routerLink]="['main/newGist']">New gist</a>
      </div>

      <div class="col-md-3">
        <div *ngIf="!login" class="login">
          <a [href]="authorizationLink">Login</a>
        </div>

        <div *ngIf="login" class="user">
          <p *ngIf="login" (click)="showMenu(true)">{{login}}</p>

          <div *ngIf="menu" class="menu">
            <button [routerLink]="['main/gists']">Your gists</button>
            <button (click)="logOut()">Log out</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
