@import "~src/styles";

header {
  background-color: $color-bg;

  .row {
    height: 100px;

    .logo {
      overflow: hidden;

      img {
        height: 80px;
        width: 80px;
        cursor: pointer;
      }
    }

    .newGist {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      a {
        color: white;
        text-decoration: none;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        font-size: $font-size;

        &:hover {
          color: $color-hover;
        }
      }
    }

    .login {
      display: flex;
      flex-direction: row;
      justify-content: center;

      font-family: Montserrat, sans-serif;
      font-weight: bold;

      a {
        color: white;
        text-decoration: none;
        font-size: $font-size;

        &:hover {
          color: $color-hover;
        }
      }

    }

    .user {
      display: flex;
      justify-content: center;

      p {
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: white;
        margin: 0;
        font-size: $font-size;

        &:hover {
          color: $color-hover;
          cursor: pointer;
        }
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: $color-bg;
      padding: 5px;
      margin-top: 35px;
      border-radius: 5px;
      border: solid 2px white;
      width: 200px;
      z-index: 2;

      button {
        background-color: white;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        margin: 2px;
        z-index: 1;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        font-size: $font-size;
        padding: 5px 10px;

        &:hover {
          background-color: $color-hover;
        }
      }
    }
  }
}


