@import "~src/styles";

.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;

  button {
    margin: 20px;
    height: 100%;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: $font-size;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $color-bg;
    color: white;
    border: none;

    &:hover {
      background-color: $color-hover;
      color: black;
    }
  }

  .filterMenu {
    position: absolute;
    margin-top: 70px;
    padding: 10px;
    border-radius: 5px;
    background-color: $color-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;

    .checkbox {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: $font-size;
      color: white;
      cursor: pointer;

      input {
        margin: 10px;

      }
    }

    .date {
      margin: 10px;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;

      input {
        margin: 20px 0;
        height: 100%;
        cursor: pointer;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        font-size: $font-size;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: white;
        color: $color-bg;
        border: none;

        &:hover {
          background-color: $color-hover;
          color: black;
        }
      }
    }
  }
}

.noElements {
  display: flex;
  justify-content: center;

  p {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: $font-size
  }
}

.elements {

  li {
    font-weight: bold;
    font-size: $font-size;

    .element {
      margin: 25px 0;

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .link {
          font-family: Montserrat, sans-serif;
          font-weight: bold;
          font-size: $font-size;
          margin: 0;
          cursor: pointer;

          &:hover {
            color: $color-hover;
          }

          span {
            margin-left: 25px;
            font-family: Montserrat, sans-serif;
            font-weight: lighter;
            font-size: 14px;
            border-style: ridge;
            border-radius: 5px;
          }
        }

        .details {

          .star {
            display: flex;
            align-items: center;
            width: 30px;
            height: 100%;
            margin: 0 5px;

            p {
              font-size: 20px;
              margin: 0;
              cursor: pointer;
            }
          }

          .files {
            display: flex;
            align-items: center;
            margin-right: 20px;
            width: 100px;

            p {
              font-family: Montserrat, sans-serif;
              font-weight: lighter;
              font-size: 14px;
              margin: 0;
            }
          }
        }
      }

      .time {
        font-family: Montserrat, sans-serif;
        font-weight: lighter;
        font-size: 14px;
        margin: 0;
      }

      .aceEditor {
        width: 100%;
        margin: 20px 0;

        ace-editor {
          width: 100%;
          height: 22px;
          font-weight: bold;
          font-size: $font-size;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  button {
    height: 100%;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: $font-size;
    margin: 20px 100px 50px 100px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $color-bg;
    color: white;
    border: none;

    &:hover {
      background-color: $color-hover;
      color: black;
    }

    &:disabled {
      background-color: white;
      color: $color-hover;
    }
  }
}
