<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="filter">
        <button (click)="showFilterMenu(true)">Filter</button>
        <form class="filterMenu" *ngIf="showFilters" [formGroup]="filterForm" (submit)="submitFilter(filterForm)">

          <label class="checkbox">
            <input type="checkbox" id="starred" name="starred" formControlName="starred" [checked]="query.starred">Starred
          </label>

          <label class="date">
            <input type="date" formControlName="dateTime">
          </label>
          <label class="buttons">
            <input type="submit" value="Apply">
            <input type="button" value="Clear" (click)="cleanFilter()">
          </label>

        </form>
      </div>
    </div>
  </div>

  <div *ngIf="!showElements" class="row">
    <div class="col-md-12">
      <div class="noElements">
        <p>No elements</p>
      </div>
    </div>
  </div>

  <div *ngIf="showElements" class="row">
    <div class="col-md-12">
      <ul class="elements" *ngFor="let element of mainData">
        <li>
          <div class="element">
            <div>
              <p class="link" [routerLink]="['../details']" [queryParams]="{id: element.id}">{{element.description}}<span
                *ngIf="!element.public">Secret</span></p>

              <div class="details">

                <div class="star">
                  <p *ngIf="!element.star" (click)="changeStar(element, true)">☆</p>
                  <p *ngIf="element.star" style="color: orange" (click)="changeStar(element, false)">☆</p>
                </div>

                <div class="files">
                  <p>{{element.files.length}} file<span *ngIf="fileLength(element.files.length)">s</span>
                  </p>
                </div>

              </div>
            </div>
            <p class="time">{{element.time}}</p>
            <label class="aceEditor">
              <ace-editor [(text)]="element.files[0].raw" [theme]="'monokai'"
                          [readOnly]=true></ace-editor>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" *ngIf="pagination">
    <div class="col-md-12">
      <div class="pagination">
        <button [disabled]="!paginationButtonState.prev" (click)="navigate(-1)">Prev</button>
        <button [disabled]="!paginationButtonState.next" (click)="navigate(1)">Next</button>
      </div>
    </div>
  </div>
</div>
