@import "~src/styles";


form {
  display: flex;
  flex-direction: column;
  margin: 25px 0 10px 0;

  .descrition {
    margin: 0;

    input {
      width: 100%;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: $font-size;
      padding: 5px 10px;
    }
  }

  .files {
    margin: 0;

    div {
      margin: 15px 0;

      .file {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .name {
          width: 100%;
          font-family: Montserrat, sans-serif;
          font-weight: bold;
          font-size: $font-size;
          padding: 5px 10px;
        }

        .button {
          height: 100%;
          cursor: pointer;
          font-family: Montserrat, sans-serif;
          background-color: $color-bg;
          color: white;
          font-weight: bold;
          font-size: $font-size;
          margin: 0;
          padding: 7px 10px;
          border: none;

          &:hover {
            background-color: $color-hover;
            color: black;
          }
        }
      }

      .aceEditor {
        height: 200px;
        width: 100%;
        margin: 15px 0;
        font-size: $font-size;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  button {
    height: 100%;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    background-color: $color-bg;
    color: white;
    font-weight: bold;
    font-size: $font-size;
    margin: 0;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;

    &:hover {
      background-color: $color-hover;
      color: black;
    }
  }

  .submit {
    display: flex;
    flex-direction: row;
    margin: 0;

    input {
      height: 100%;
      cursor: pointer;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: $font-size;
      margin: 0 0 0 20px;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: $color-bg;
      color: white;
      border: none;

      &:hover {
        background-color: $color-hover;
        color: black;
      }

      &:disabled {
        background-color: white;
        color: $color-hover;
      }
    }
  }
}
