<div class="row">
  <div class="col-md-12">
    <form [formGroup]="formData" (submit)="onSubmit(formData)">

      <label class="descrition">
        <input type="text" formControlName="description" placeholder="Description">
      </label>

      <div class="files" formArrayName="filesArray"
           *ngFor="let i = index of formFilesArray.controls">

        <div [formGroupName]="i">
          <label class="file">
            <input class="name" type="text" formControlName="name" placeholder="Name">
            <input class="button" *ngIf="showDeleteButton" type="button" (click)="deleteFile(i)"
                   value="Delete">
          </label>

          <ace-editor style="height: 250px" class="aceEditor" formControlName="content"
                      [theme]="'monokai'"></ace-editor>
        </div>
      </div>

      <div class="buttons">
        <button type="button" (click)="addFormFile()">Add File</button>

        <div class="submit" *ngIf="!gistFiles">
          <input type="submit" [disabled]="!formData.valid" (click)="setPublic(true)" value="Create public">
          <input type="submit" [disabled]="!formData.valid" (click)="setPublic(false)" value="Create private">
        </div>

        <div class="submit" *ngIf="gistFiles">
          <input [disabled]="!formData.valid" type="submit" value="Update">
        </div>
      </div>

    </form>
  </div>
</div>
