@import "~src/styles.scss";

.row {
  margin-bottom: 50px;

  div {
    display: flex;
    flex-direction: column;

    .modify {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 25px;

      p {
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        font-size: $font-size;
        margin: 0 10px;
      }

      button {
        height: 100%;
        cursor: pointer;
        font-family: Montserrat, sans-serif;
        background-color: $color-bg;
        color: white;
        font-weight: bold;
        font-size: $font-size;
        border-radius: 5px;
        padding: 5px 10px;
        border: none;
        margin: 0 10px;

        &:hover {
          background-color: $color-hover;
          color: black;
        }
      }
    }

    .title {
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: $font-size;
      margin: 10px 0;
      cursor: pointer;
    }

    .element {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        font-size: $font-size;
        cursor: pointer;
        margin: 0;

        .secret {
          margin-left: 25px;
          font-family: Montserrat, sans-serif;
          font-weight: lighter;
          font-size: 14px;
          border-style: ridge;
          border-radius: 5px;
        }
      }

      .details {
        display: flex;
        flex-direction: row;

        .star {
          display: flex;
          align-items: center;
          width: 30px;
          height: 100%;
          margin: 0 5px;

          p {
            cursor: pointer;
            font-size: 20px;
            margin: 0;
          }
        }


        .files {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 100%;
          margin-right: 20px;
          width: 100px;

          p {
            font-family: Montserrat, sans-serif;
            font-weight: lighter;
            font-size: 14px;
            margin: 0;

            .s {
              margin-left: 25px;
              font-family: Montserrat, sans-serif;
              font-weight: lighter;
              font-size: 14px;
              border-style: ridge;
              border-radius: 5px;
            }
          }
        }
      }
    }

    .time {
      font-family: Montserrat, sans-serif;
      font-weight: lighter;
      font-size: 14px;
      margin: 0;
    }

    .content {

      p {
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        font-size: $font-size;
        margin: 20px 0 0 0;
      }

      ace-editor {
        width: 100%;
        height: 200px;
        font-weight: bold;
        font-size: $font-size;
      }
    }
  }
}
