<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="modify">
        <p *ngIf="message">{{message}}</p>
        <button [routerLink]="['../editGist']" [queryParams]="{id: details.id}">Edit</button>
        <button (click)="deleteGist()">Delete</button>
      </div>

      <h3 class="title">{{details.description}}</h3>

      <div class="element">
        <p>gist:{{details.id}}<span class="secret"
                                    *ngIf="!details.public">Secret</span></p>

        <div class="details">

          <div class="star">
            <p *ngIf="!details.star" (click)="changeStar(details, true)">☆</p>
            <p *ngIf="details.star" style="color: orange" (click)="changeStar(details, false)">☆</p>
          </div>

          <div class="files">
            <p>{{details.files.length}} file<span *ngIf="fileLength(details.files.length)">s</span>
            </p>
          </div>

        </div>
      </div>

      <p class="time">{{details.time}}</p>

      <div class="content" *ngFor="let element of details.files">
        <p>{{element.filename}}</p>
        <ace-editor [(text)]="element.raw" [theme]="'monokai'" [readOnly]="true"></ace-editor>
      </div>

    </div>
  </div>
</div>

